extends ../layout
block title
    -let _title = `${(filter === 'All') ? '' : filter + ' '}Books`;
    title= _title
block header
    h1= _title
    p: a(href="/books/new", class="button", class="button") Create New Book
block content
    include ../includes/filters
    +filters('books')
    table
        thead
            tr
                th Title
                th Author
                th Genre
                th Year Released
        tbody
            each row in data
                tr
                    td: a(href=`/books/details/${row.id}`)= row.title
                    td= row.author
                    td= row.genre
                    td= row.first_published

    // set filter for pagination links (to match table filter route)
    -filter = filter === 'Checked Out' ? 'checked' : filter.toLowerCase();
    include ../includes/pagination
    +pagination('books', filter, total, perPage)
