p 
    strong Book Title: 
    |#{row.title}
p 
    strong Loaned By: 
    |#{row.patron}
p 
    strong Loaned On: 
    |#{row.loaned_on}
p 
    strong Return By: 
    |#{row.return_by}
p 
    label(for="returned_on") Returned on: 
    input(id="returned_on" name="returned_on" type="text" value=`${new Date().toISOString().slice(0,10)}`) 


