extends ../../layout
block title
    title Return Book
block header
    h1 Patron: Return Book
block content
    -let {id, loaned_on, return_by, returned_on, book, patron} = data.dataValues;
    -loaned_on = loaned_on.slice(0, 10);
    -return_by = return_by.slice(0, 10);
    p 
        strong Book Title: 
        |#{book.dataValues.title}
    p 
        strong Loaned By: 
        |#{patron.dataValues.first_name} #{patron.dataValues.last_name}
    p 
        strong Loaned On: 
        |#{loaned_on}
    p 
        strong Return By: 
        |#{return_by}
    form(action=`/books/return/${id}` method='post')
        p 
            label(for="returned_on") Returned on: 
            input(id="returned_on" name="returned_on" type="text" value=`${new Date().toISOString().slice(0,10)}`) 
        p: input(type="submit" value="Return Book")

