extends ../../layout
block title
    -const _title = 'New Patron';
    title= _title
block header
    h1= _title
block content
    include ../../includes/errorMessages
    +showErrorMessages(attrs)
    form(action="/patrons/new", method="post")
        p 
            label(for="first_name") First Name
            input(id="first_name" name="first_name" type="text" value=`${attrs ? attrs.first_name : ''}`)
        p 
            label(for="last_name") Last Name
            input(id="last_name" name="last_name" type="text" value=`${attrs ? attrs.last_name : ''}`)
        p 
            label(for="address") Address
            input(id="address" name="address" type="text" value=`${attrs ? attrs.address : ''}`)
        p 
            label(for="email") Email 
            input(id="email" name="email" type="text" value=`${attrs ? attrs.email : ''}`)
        p 
            label(for="library_id") Library ID
            input(id="library_id" name="library_id" type="text" value=`${attrs ? attrs.library_id : ''}`)
        p 
            label(for="zip_code") Zip Code
            input(id="zip_code" name="zip_code" type="text" value=`${attrs ? attrs.zip_code : ''}`)

        p: input(type="submit" value="Create New Patron")
